In [2]:
import pandas as pd
import numpy as np

In [5]:
#If we want to fetch some value out of the list using a string (or its key) then we have to use the loc[] property and if we want to access
#the series using the position then we have to use the iloc[] parameter.
#The loc and iloc are not methods and thus does not require paranthesis.

s = pd.Series(['Vritika','Rishita','Nisarg','Paridhi','Saurabh'],index=['one','two','three','four','five'])
s

one      Vritika
two      Rishita
three     Nisarg
four     Paridhi
five     Saurabh
dtype: object

In [6]:
s.iloc[1] #Here the at the first positon at the list is rishita

'Rishita'

In [7]:
s.loc['four'] #At key 'four'we have paridhi

'Paridhi'

In [8]:
#Note hence using the iloc we can get the element based upon his position and by using the loc attribute we can get element using
#Its key.

In [23]:
#Using of the magic fucntion. Magic functions are some fucntions in python which make our work easier . Here we will use the timeit
#magic function which will run multiple times to find out the average time required for the exceution of the loop.
s1 = pd.Series(np.random.randint(0,10000,10000))
s1.head() #This shows only the top 5 elements of the list.

0    9174
1    2901
2    3798
3    3477
4    4139
dtype: int32

In [24]:
sum=0
for num in s1:
    sum = sum+num
print(sum)

50537443

In [25]:
#Vectorization is used to speed up the Python code without using loop. 
#Using such a function can help in minimizing the running time of code efficiently.
#Here we have using vectorization by performing sum operation using the NumPy library.
sum1 = np.sum(s1)
sum1

50537443

In [26]:
%%timeit -n 1000
summary = 0
for item in s1:
    summary+=item
#print(summary)

3.48 ms ± 184 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [27]:
%%timeit
c=1+2

47.5 ns ± 0.324 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [28]:
%%timeit -n 1000
np.sum(s1)

217 µs ± 6.34 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [4]:
#Another example showing the use of vectorization.
s2 = pd.Series(np.random.randint(0,1000,1000))
s2.head()

0    351
1    487
2    446
3     29
4    106
dtype: int32

In [6]:
%%timeit -n 100
for label,value in s2.iteritems():
    s2[label] = value+2

22.2 ms ± 6.8 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
#In place of using a whole loop for this we can use vectorization.
#Here we will use broadcasting. Broadcasting is feature of python in which the changes which we make get reflected on each and
#Every element of the seires

In [10]:
%%timeit -n 100
s2 + 2

712 µs ± 129 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [11]:
#Here we can see that vectorization makes a huge difference in timing of execution.

In [12]:
#The .loc property not only allows us to access a values, we can also edit a value and can also add a new value in place of an
#existing value.
s3 = pd.Series([1,2,3,4,5])
s3.loc['Name'] = 'Vritika'
s3
#This also shows that mixed data types are also not a problem for pandas.

0             1
1             2
2             3
3             4
4             5
Name    Vritika
dtype: object

In [13]:
#Appending two series can give us a third series which has appended value of both the series and does not affect the original
#series.

fav_sport = pd.Series(['India','Australia','Pakistan','Barbados'],index=['Cricket','Cricket','Cricket','Cricket'])
fav_sport

Cricket        India
Cricket    Australia
Cricket     Pakistan
Cricket     Barbados
dtype: object

In [14]:
appended_s = s3.append(fav_sport)
appended_s

0                  1
1                  2
2                  3
3                  4
4                  5
Name         Vritika
Cricket        India
Cricket    Australia
Cricket     Pakistan
Cricket     Barbados
dtype: object

In [15]:
#Same index values are not a problem for series as whenever we query to get the value having cricket as its index
#it will return a small series itself with multiple values and not just a single one.
appended_s.loc['Cricket']

Cricket        India
Cricket    Australia
Cricket     Pakistan
Cricket     Barbados
dtype: object